
body{
    display: flex;
    margin: 0;
    height: 100vh;
    background-color: #FAFAFA;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
}

.container{
    top: 7px;
    position: relative;
    display: flex;
    justify-content: center;
    width: 60%;
    height: 220px;
    border: 1px solid black;
    background-color: #424242;
}

.container__post{
    padding: 0px 1em;
    color: #F1F1F1;
    text-align: left;
    font-size: 18px;
    overflow-wrap: normal;
}
.container__post > h1{
    font-size: 34px;
    text-shadow: 4px 5px 2px #242424;
}
