
body{
    display: flex;
    margin: 0;
    height: 100vh;
    background-color: #FAFAFA;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
}

.container{
    top: 7px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    height: 220px;
    border: 1px solid darkgray;
    background-color: #424242;
    overflow: hidden;
}

.container__cabecera{
    box-shadow: 0px 4px 20px -1px rgba(0,0,0,1);
    display: flex;
    background-color: #282888;
    height: 100%;
    text-align: left;
    width: 100%;
    vertical-align: middle;
    align-items: center;
    letter-spacing: 1px;
    padding-left: 10px;
    align-self: flex-start;
    color: rgb(241, 241, 241);
    font-size: 20px;
    font-weight: bold
}

.container__cabecera--tagline{
    padding-left: 30px;
    font-weight: normal;
}

.container > hr {
    margin: 0;
}

.container__post{
    padding: 0px 1em;
    color: #F1F1F1;
    text-align: left;
    font-size: 18px;
    overflow-wrap: normal;
}
.container__post > h1{
    font-size: 34px;
    text-shadow: 3px 4px 2px #242424;
}
